@charset "UTF-8";

$peach: #EE6723;
$lightOrange: #FDBD39;
$yellow: #FBCF33;

/* light theme color */
$light-cursor-color: #FDBD39;
$light-background: #FDBD39;
$light-background-secondary: #eaeaea;
$light-color: #222;
$light-color-secondary: #3b3d42;
$light-border-color: #73747b;

/* dark theme colors */
$dark-cursor-color: #EE6723;
$dark-background: #1F2021;
$dark-background-secondary: #3b3d42;
$dark-color: #a9a9b3;
$dark-color-secondary: #73747b;
$dark-border-color: #4a4b50;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
