<footer class="footer">
  <div class="footer__inner">
    <div class="footer__content">
      <span>{{ now.Format "2006" }}</span>
    </div>
  </div>
  <div class="footer__inner">
    <div class="footer__content">
      <span>Copyright &copy; October Agency. Все права защищены</span>
    </div>
  </div>
</footer>
